  <header>
    <div class="logo">
      <a href="index.html"><img src="/assets/logo.png" title="Magnetic" alt="Magnetic"/></a>
    </div><!-- end logo -->

    <div id=""></div>
    <nav>
      <ul>
        <li><a href="index.html" class="selected">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav><!-- end navigation menu -->

    <div class="footer clearfix">

      <div class="rights">
        <p>Copyright © 2014 Oscaromkar</p>
      </div><!-- end rights -->
    </div ><!-- end footer -->
  </header><!-- end header -->

  <section class="main clearfix">

    <div class="work">
      <a class='group1' href="assets/work3.jpg">
        <img src="assets/work3.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <span class="hidden">
      <a class='group1' href='assets/work4.jpg'>Photo_2</a>
      <a class='group1' href='assets/work5.jpg'>Photo_3</a>
    </span>

    <div class="work">
      <a href="inner.html">
        <img src="assets/work4.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <div class="work">
      <a href="inner.html">
        <img src="assets/work5.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <div class="work">
      <a href="inner.html">
        <img src="assets/work6.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <div class="work">
      <a href="inner.html">
        <img src="assets/work2.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <div class="work">
      <a href="inner.html">
        <img src="assets/work3.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <div class="work">
      <a href="inner.html">
        <img src="assets/work1.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>
  </section><!-- end main -->