<section class="top"> 
  <div class="wrapper content_header clearfix">    
    <h1 class="title">Art comes from the Heart</h1>
  </div>    
</section>

<section class="wrapper">
  <div class="content">
    <h2>Through my eyes</h2>

    <p>Through all my senses I have experienced life, this travels within me, to then be expressed with my Imagination.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ Art is subjective like love ~</i></p>

    <p>Art is a way to express one´s self and the one that looks at it is expressing his feelings through it. Every piece of art is unique for every individuals taste. Art is as subjective as love.
    </p>

    <div class="sub-title-spacing"</div>
    <p><i>~ A sourceless passion ~</i></p>

    <p>For me art is a passion, a sourceless passion. I enjoy doing it as much as I enjoy seeing it. Inspiration is the key to get the creativity going and from that the imagination portrays into a piece of art.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ Inspiration ~</i></p>

    <p>Inspiration comes from absolutely anywhere. There´s constant lights in all directions at all times, awareness will open your mind to get inspired.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ There is no limit ~</i></p>

    <p>It gets very interesting when things become a challenge, but one is only subjected by one's own limitation, for me there are no limits.</p>


    <div class="title-spacing"</div>
    <h2>My Story</h2>

    <p>As a child, life is fun and games and I still try to live like that. I was raised in the countryside in Spain, there was an abundance of sun, light, water and trees everywhere, and I practically lived outside, living life to the maximum.

    I work in all aspects of illustration and painting. But my main work is being creative; this is my energy like water for a plant.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ Doing what one loves ~</i></p>

    <p>I work with the tools I have, whether it's a paintbrush for painting, a chisel for sculpting, a pen to draw with or simply using hammer and a nail to create something. Stop what you are doing and do what you truly love.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ Digital world ~</i></p>

    <p>Art has been my passion and I learnt it mainly by myself, creativity is born within me and so I decided to study something else which was graphic design. I worked in this field for many years, but art is far freer.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ Limitless source of creative ideas ~</i></p>

    <p>My aim is to create projects, workshops and do creative things. It's amazing to work with people and create something bigger than doing it yourself, it's a beautiful achievement. My strongest point is the limitless source of creative ideas I have running around in my head for all kinds of things, arts, workshops or projects.</p>

    <div class="title-spacing"</div>
    <h2>How I can help you</h2>

    <div class="sub-title-spacing"</div>
    <p><i>~ Anything can be done ~</i></p>

    <p>Whether you need to cover your wall with a mural, paintings to decorate your home, a new look to your vehicle, decorate your office, bar, restaurant or home and give that extra twist of beauty.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ Projects ~</i></p>

    <p>I can help you by guiding your projects in the right direction, strictly fulfilling your needs; it can all be done and achieved. I have worked and painted in different countries, I often move to where I need to go, there is no border and it´s as simple as flying there.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ Focusing energy ~</i></p>

    <p>I like to work and finish what I start, I might not look or seem serious, on one side my life is fun in the sun, but when it comes to work my whole energy focuses on what I am doing. For creativity I will give it absolutely everything I´ve got.</p>

    <div class="sub-title-spacing"</div>
    <p><i>~ Let's do it ~</i></p>

    <p>Feel free to contact me if you need something done at any given time and I will get back to you ASAP. Between us we can work out a deal.</p>

    <p>What you need, I will create.</p>

    <p class="email">oscaromkar@gmail.com</p>
  </div><!-- end content -->
</section>