<section class="wrapper">
  <div class="content" style="text-align:center">
    
    <h1>Congratulations!</h1>

    <p>You have reached a hidden place in my site and therefore I grant you a free present.</p>
    <p>Download this high quality image, print it out at any printers and enjoy it on your wall.<p>

    <div class="hidden-image">
      <%= image_tag 'hidden_Image.jpg' %>
    </div>

    <p>
      PDF Image: 4490 x 9216 pixels
    </p>
    
    <div>
      <p class="download-button-wrapper">
        <%= link_to('', 'assets/Oscar_Omkars_Hidden_Treasure.pdf', class: 'download-button') %>
      </p>
    </div>

  </div>
</section>